// ==============================================================
// Local mods.
// ==============================================================

$ft-font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$ft-font-size: 90%;

@import '../vendor/gordon-ansell/greenfedora-scss/fw/_fw';
@import '../vendor/gordon-ansell/greenfedora-scss/fw/components/_sitehdr-menu';
@import '../vendor/gordon-ansell/greenfedora-scss/fw/components/_sitehdr-branding';

.sitehdr-branding a span {
    font-family: cursive;
}

.flextable {
    margin-top: 2em;
    div.td.estimate {
        color: var(--col-alert);
    }
}

.explain {
    margin-top: 2em;
    font-size: 85%;
    li {
        margin-bottom: 1em;
    }
}

.table2 {
    margin-top: 2em;
}

.form-container {

    .form-box {

        form {
            .spread {
                display: flex;
                justify-content: space-between;
            }
            fieldset.duofield {
                display: inline;
            }
        }
    }
}