// ==============================================================
// Local mods.
// ==============================================================

$ft-font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$ft-font-size: 90%;

$flextable-font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
$flextable-font-size: 90%;

@import '../vendor/gordon-ansell/greenfedora-scss/fw/_fw';
@import '../vendor/gordon-ansell/greenfedora-scss/fw/components/_sitehdr-menu';
@import '../vendor/gordon-ansell/greenfedora-scss/fw/components/_sitehdr-branding';

.sitehdr-branding a span {
    font-family: cursive;
}

.flextable {
    margin-top: 2em;
}

.explain {
    margin-top: 2em;
    font-size: 85%;
    li {
        margin-bottom: 1em;
    }
}

table.wtcalcs {
    margin: 0 auto;
    max-width: 500px;
}

table.onerm1 {
    tbody tr:last-of-type {
        font-weight: bold;
    }
}