// ==============================================================
// Branding in the header.
// ==============================================================

.sitehdr-branding {

    font-family: inherit;
    
    a, a:link, a:visited, a:hover, a:active {
        border-bottom: none;
        text-decoration: none;    
    }

    img {
        vertical-align: middle;
        margin-right: 0.5em;
    }
}