@charset "UTF-8";
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/*
*:before, *:after {
    @include box-sizing(inherit);
}
*/
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Inline div
   ========================================================================== */
div.inline {
  display: inline;
}

/* Mods.
   ========================================================================== */
html {
  font-size: 62.5%;
}

.wrapper {
  margin: 0 1em 0 1em;
}

main {
  margin: 0 auto;
  max-width: 720px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.45;
}

h1, .h1 {
  font-size: 210%;
}

h2, .h2 {
  font-size: 170%;
}

h3, .h3 {
  font-size: 150%;
}

h4, .h4 {
  font-size: 130%;
}

h5, .h5 {
  font-size: 110%;
}

h6, .h6 {
  font-size: 100%;
  font-variant: small-caps;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Noe Display", Georgia, Times, serif;
  line-height: 1.25;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  border-bottom: none;
}

a:hover {
  border-bottom: none;
}

a.plain {
  border-bottom: none;
  text-decoration: none;
}

a[href^="#footnote-"],
a[href^="#footnote-"]:link,
a[href^="#footnote-"]:visited,
a[href^="#footnote-"]:hover,
a[href^="#footnote-"]:active {
  border-bottom: none;
}

.footnote a, .footnote a:link, .footnote a:visited, .footnote a:hover, .footnote a:active {
  border-bottom: none;
}

pre,
code {
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
  line-height: 1;
  border: 1px solid;
  border-radius: 3px;
}

code {
  font-size: 70%;
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

blockquote {
  width: 90%;
  margin: 1em auto;
  font-style: italic;
  padding: 1em 3em 1em 3em;
  border-left: 8px solid;
  line-height: 1.4;
  position: relative;
  z-index: -1;
}

blockquote::before {
  font-family: Arial;
  content: "“";
  font-size: 3em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

.form-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form-container .form-box {
  width: 100%;
  max-width: 720px;
  padding: 15px 7px;
  box-sizing: border-box;
}
.form-container .form-box .error {
  text-align: center;
  font-weight: bold;
}
.form-container .form-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.form-container .form-box form fieldset {
  border: none;
  padding: 0;
  margin: 0.5rem 0;
}
.form-container .form-box form fieldset.radio.horizontal {
  display: block;
  padding: 10px 5px;
  width: 100%;
}
.form-container .form-box form fieldset.radio.horizontal input {
  display: inline;
  width: auto;
}
.form-container .form-box form label, .form-container .form-box form .label {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 85%;
}
.form-container .form-box form .label {
  display: block;
}
.form-container .form-box form input, .form-container .form-box form select {
  display: block;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  border: 0.25px solid;
  border-radius: 4px;
  padding: 10px 5px;
}
.form-container .form-box form input::placeholder, .form-container .form-box form select::placeholder {
  font-size: 80%;
  font-weight: 100;
  font-style: italic;
}
.form-container .form-box form input:focus, .form-container .form-box form select:focus {
  border: 1px solid;
}
.form-container .form-box form input[type=radio] + label {
  padding: 10px 5px;
  border-radius: 4px;
}
.form-container .form-box form input[type=radio]:focus + label {
  border: 1px solid;
}
.form-container .form-box form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 10px 5px;
  width: 100%;
  display: inline;
  padding-right: 1.5em;
}
.form-container .form-box form .select-wrapper {
  overflow: hidden;
  display: block;
}
.form-container .form-box form .select-wrapper:after {
  position: absolute;
  content: "▼";
  margin-left: -1em;
  margin-top: 0.3em;
  cursor: pointer;
  pointer-events: none;
}
.form-container .form-box form .required {
  color: #B0092D;
}
.form-container .form-box form textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  min-height: 10ch;
  max-height: 120ch;
}
.form-container .form-box form textarea:focus {
  border: 1px solid;
}
.form-container .form-box form div.two-columns,
.form-container .form-box form div.three-columns,
.form-container .form-box form div.four-columns {
  display: grid;
  grid-template-columns: 100%;
}
.form-container .form-box form div.two-columns-always {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 2%;
}
.form-container .form-box form div.three-columns-always {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
}
.form-container .form-box form div.four-columns-always {
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-column-gap: 2%;
}
.form-container .form-box form span.duowrap {
  display: flex;
}
.form-container .form-box form span.duowrap input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-container .form-box form span.duowrap select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-container .form-box form button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
}
.form-container .form-box form button:focus {
  border: 1px solid;
}
.form-container .form-box form button:active {
  box-shadow: none;
}

@media screen and (min-width: 800px) {
  .form-container .form-box form div.two-columns {
    grid-template-columns: 48% 48%;
    grid-column-gap: 2%;
  }

  .form-container .form-box form div.three-columns {
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
  }

  .form-container .form-box form div.four-columns {
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-column-gap: 2%;
  }
}
.flextable {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em;
  line-height: 1.5;
  border-bottom: 1px solid;
  flex: 1 1 auto;
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
  font-weight: 200;
  font-size: 90%;
}
.flextable .th {
  display: none;
  font-weight: bold;
}
.flextable .th > .td {
  white-space: normal;
}
.flextable .tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.flextable .td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid;
}
.flextable .td.alignright {
  display: inline;
  flex-grow: 1;
  align-content: flex-end;
  text-align: right;
}
.flextable .tr.bold {
  font-weight: bold;
}

* {
  border-color: var(--col-border);
}

body {
  color: var(--col-text-primary);
  background-color: var(--col-bg-primary);
}

a {
  color: var(--col-text-secondary);
}
a:link {
  color: var(--col-text-secondary);
}
a:visited {
  color: var(--col-text-secondary);
}
a:hover {
  color: var(--col-text-secondary-offset);
}
a:active {
  color: var(--col-text-secondary);
}

h2, .h2 {
  color: var(--col-text-secondary-offset);
}

pre,
code {
  background-color: var(--col-code-bg);
  color: var(--col-code-text);
  border-color: var(--col-text-secondary);
}

figcaption {
  color: var(--col-text-secondary-offset);
}

blockquote {
  color: var(--col-bq-text);
  background: var(--col-muted);
  border-left-color: var(--col-text-secondary);
}

blockquote::before {
  color: var(--col-text-secondary);
}

.flextable {
  border-bottom-color: var(--col-muted);
}
.flextable .th {
  background-color: var(--col-muted);
}
.flextable .td {
  border-bottom-color: var(--col-muted);
}
.flextable .th > .td {
  border-bottom-color: var(--col-text-primary);
}

.flextable.stripe .tr:nth-of-type(even) {
  background-color: var(--col-bg-secondary);
}

.form-container .form-box .error {
  color: var(--col-alert);
}
.form-container .form-box form label, .form-container .form-box form .label {
  color: var(--col-text-primary);
}
.form-container .form-box form input, .form-container .form-box form select {
  background: var(--col-muted);
  color: var(--col-text-primary);
  border-color: var(--col-border);
}
.form-container .form-box form input::placeholder, .form-container .form-box form select::placeholder {
  color: var(--col-text-secondary);
}
.form-container .form-box form input[type=radio]:focus + label {
  border-color: var(--col-border);
}
.form-container .form-box form span.duowrap select {
  background-color: var(--col-bg-secondary);
}
.form-container .form-box form button {
  border-color: var(--col-border);
  color: var(--col-text-primary);
  background: var(--col-bg-secondary);
  box-shadow: inset 0 -3em 3em rgba(var(--col-text-primary), 0.1), 0.3em 0.3em 1em rgba(var(--col-text-primary), 0.3);
}

.sitehdr-menu {
  display: inline;
  /* Breakpoint. */
}
.sitehdr-menu input {
  display: none;
}
.sitehdr-menu input:checked ~ ul {
  max-height: 480px;
}
.sitehdr-menu input:checked ~ label .icon {
  background: transparent;
}
.sitehdr-menu input:checked ~ label .icon:before {
  transform: rotate(-45deg);
}
.sitehdr-menu input:checked ~ label .icon:after {
  transform: rotate(45deg);
}
.sitehdr-menu input:checked ~ label:not(.steps) .icon:before, .sitehdr-menu input:checked ~ label:not(.steps) .icon:after {
  top: 0;
}
.sitehdr-menu input:hover {
  background-color: var(--col-muted);
}
.sitehdr-menu label {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.sitehdr-menu .icon {
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  background: var(--col-text-secondary-offset);
}
.sitehdr-menu .icon:before, .sitehdr-menu .icon:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: var(--col-text-secondary-offset);
}
.sitehdr-menu .icon:before {
  top: 5px;
}
.sitehdr-menu .icon:after {
  top: -5px;
}
.sitehdr-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  background-color: inherit;
}
.sitehdr-menu li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border-color: var(--col-muted);
}
.sitehdr-menu li a, .sitehdr-menu li a:link, .sitehdr-menu li a:visited, .sitehdr-menu li a:hover, .sitehdr-menu li a:active {
  border-bottom: none;
}
.sitehdr-menu li a:hover {
  background-color: var(--col-muted);
}
@media screen and (min-width: 768px) {
  .sitehdr-menu {
    float: right;
  }
  .sitehdr-menu label {
    display: none;
  }
  .sitehdr-menu ul {
    clear: none;
    float: right;
    max-height: none;
    font-size: 80%;
  }
  .sitehdr-menu li {
    float: left;
  }
  .sitehdr-menu li a {
    padding: 15px 20px;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
  }
}

.sitehdr-branding {
  font-family: inherit;
}
.sitehdr-branding a, .sitehdr-branding a:link, .sitehdr-branding a:visited, .sitehdr-branding a:hover, .sitehdr-branding a:active {
  border-bottom: none;
  text-decoration: none;
}
.sitehdr-branding img {
  vertical-align: middle;
  margin-right: 0.5em;
}

.sitehdr-branding a span {
  font-family: cursive;
}

.flextable {
  margin-top: 2em;
}
.flextable div.td.estimate {
  color: var(--col-alert);
}

.explain {
  margin-top: 2em;
  font-size: 85%;
}
.explain li {
  margin-bottom: 1em;
}

.table2 {
  margin-top: 2em;
}
