// ==============================================================
// Base colour allocations.
// ==============================================================

* {
    border-color: var(--col-border);
}

body {
    color: var(--col-text-primary);
    background-color: var(--col-bg-primary);
}

a {
    color: var(--col-text-secondary);

    &:link {
        color: var(--col-text-secondary);
    }

    &:visited {
        color: var(--col-text-secondary);
    }

    &:hover {
        color: var(--col-text-secondary-offset);
    }

    &:active {
        color: var(--col-text-secondary);
    }
}

// --------------
// Headings.
// --------------

h2, .h2 {
    color: var(--col-text-secondary-offset);
}

// --------------
// Pre/code.
// --------------

pre,
code {
    background-color: var(--col-code-bg);
    color: var(--col-code-text);
    border-color: var(--col-text-secondary);
}

// ---------------------
// Figcaption.
// ---------------------

figcaption {
    color: var(--col-text-secondary-offset);
}

// ---------------------
// Quotes.
// ---------------------

blockquote {
    color: var(--col-bq-text);
    background: var(--col-muted);
    border-left-color: var(--col-text-secondary);
}


blockquote::before {
    color: var(--col-text-secondary);
}

// ---------------------
// Flex table.
// ---------------------

.flextable {
    border-bottom-color: var(--col-muted);

    .th {
        background-color: var(--col-muted);
    }

    .td {
        border-bottom-color: var(--col-muted);
    }

    .th > .td {
        border-bottom-color: var(--col-text-primary);
    }

}

.flextable.stripe {
    .tr:nth-of-type(even) {
        background-color: var(--col-bg-secondary);
    }
}

// ---------------------
// Forms.
// ---------------------

.form-container {
    .form-box {

        .error {
            color: var(--col-alert);
        }

        form {
            label, .label {
                color: var(--col-text-primary);
            }

            input, select {
                background: var(--col-muted);
                color: var(--col-text-primary);
                border-color: var(--col-border);

                &::placeholder {
                    color: var(--col-text-secondary);
                }

            }

            input[type="radio"]:focus + label {
                border-color: var(--col-border);
            }
                          
            button {
                border-color: var(--col-border);
                color: var(--col-text-primary);
                background: var(--col-bg-secondary);         
                box-shadow: inset 0 -3em 3em rgba(var(--col-text-primary),0.1),
                    0.3em 0.3em 1em rgba(var(--col-text-primary),0.3);
            }
            
        }
    } 
}

