// ==============================================================
// Base layout allocations.
// ==============================================================

// Wrapper.
$wrapper-margin: 0 1em 0 1em !default;
// Main.
$main-max-width: 720px !default;

// Wrapper.
.wrapper {
    margin: $wrapper-margin;
}

// Main.
main {
    margin: 0 auto;
    max-width: $main-max-width;
}